@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  color: #495057; }

a {
  text-decoration: none;
  color: #495057; }
  a:hover {
    text-decoration: none;
    color: #495057; }

header {
  width: 100%;
  padding: 75px 0;
  transition: .2s; }

.container {
  margin: 0 auto;
  max-width: 1200px;
  position: relative; }

.slogan {
  font-size: 30px;
  transition: .2s; }

section {
  position: relative;
  padding: 50px 0; }

h1 {
  margin: 0;
  font-size: 24px;
  font-family: "Ubuntu", sans-serif;
  transition: .2s;
  padding-bottom: 50px; }

p,
ul {
  color: gray; }

.skills {
  background: url("../images/view.jpg") no-repeat center;
  background-size: cover; }
  .skills h1 {
    padding: 10px 0 50px 0; }
  .skills .row {
    text-align: center; }
    .skills .row img {
      height: 100px;
      padding-top: 20px;
      width: auto;
      max-width: 100%;
      -webkit-filter: grayscale(80%);
      filter: grayscale(80%);
      transition: .2s; }
      .skills .row img:hover {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%); }
    .skills .row p {
      color: #459BE4;
      padding-top: 10px;
      padding-bottom: 20px;
      font-weight: bold;
      font-size: 16px; }

.skill,
.show {
  opacity: 0; }

.skills-face {
  position: absolute;
  top: -175px;
  right: 10px;
  height: 250px;
  width: 250px;
  background: #f2f2f2;
  z-index: 5;
  border: 4px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  transition: .2s; }
  .skills-face img {
    height: 100%;
    width: auto; }

.page-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.95); }

.projects .photo {
  position: relative; }

.projects .photo-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(73, 80, 87, 0.8);
  transition: .3s; }

.projects .photo-title {
  position: absolute;
  color: #fff;
  top: 80%;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transition: .3s; }

.projects .photo:hover .photo-shadow {
  opacity: 1; }

.projects .photo:hover .photo-title {
  opacity: 1;
  top: 35%; }

.projects .row img {
  width: 100%;
  height: auto;
  o-object-fit: cover;
  object-fit: cover;
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%); }

.projects .row p {
  padding-top: 5px;
  padding-bottom: 20px;
  font-size: 16px; }

.education, .experience {
  background: url("../images/mgr.jpg") no-repeat center;
  background-size: cover; }
  .education .row, .experience .row {
    font-size: 18px; }
    .education .row .col-left, .experience .row .col-left {
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: right; }
    .education .row .col-right, .experience .row .col-right {
      padding-top: 20px;
      padding-bottom: 20px;
      border-left: 2px solid #459BE4;
      text-align: left;
      position: relative; }
      .education .row .col-right .dot, .experience .row .col-right .dot {
        position: absolute;
        left: -7px;
        top: 28px;
        width: 12px;
        height: 12px;
        background: #459BE4;
        border-radius: 50%; }
    .education .row .date, .experience .row .date {
      color: #459BE4;
      font-weight: bold;
      margin-bottom: 0; }
    .education .row .school, .experience .row .school {
      font-weight: bold;
      color: #495057;
      margin-bottom: 4px; }
    .education .row .about-school, .experience .row .about-school {
      display: inline-block;
      border-top: 1px solid #d8d8d8;
      padding-top: 5px;
      font-size: 14px; }

.about-me img, .more-skills img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  o-object-fit: cover;
  object-fit: cover; }

.experience {
  background: url("../images/work1.jpg") no-repeat top;
  background-size: cover; }

.contact i {
  padding-right: 10px;
  color: #459BE4; }

footer {
  position: relative;
  padding: 20px 0;
  text-align: center;
  background: #e0e0e0;
  font-size: 14px; }

@media (max-width: 991px) {
  .slogan {
    font-size: 24px; } }

@media (max-width: 768px) {
  header {
    padding: 20px 0 130px 0; }
  .skills-face {
    width: 200px;
    height: 200px;
    position: absolute;
    top: -150px;
    right: 50%;
    margin-right: -100px; }
  .skills h1 {
    padding: 80px 0 30px 0; } }

/*# sourceMappingURL=style.css.map */